<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--与SiteWeb通讯-->
  <dsCommunication>
    <!--接收超时TimeOut-->
    <timeOut>5</timeOut>
    <!--判断通讯中断时的重发次数RetryTimes-->
    <retryTimes>3</retryTimes>
    <!--心跳周期-->
    <heartBeat>20</heartBeat>
  </dsCommunication>
  <!--与智能设备通讯-->
  <equipmentCommunication>
    <!--判断串口采集通讯中断错误记数(达到此次数，设备为通讯中断)-->
    <portInterruptCount>3</portInterruptCount>
    <!--初始化串口之间的间隔-->
    <portInitializeInterval>30</portInitializeInterval>
    <!--连续初始化串口次数(连续初始化此次数后，将不再初始化串口)-->
    <maxPortInitializeTimes>10</maxPortInitializeTimes>
  </equipmentCommunication>
  <!--本地文件存储-->
  <saveLocalFile>
    <!--统计数据保存条数-->
    <statDataSavedTimes>5000</statDataSavedTimes>
    <!--历史数据保存条数-->
    <hisDataSavedTimes>5000</hisDataSavedTimes>
    <!--事件保存条数-->
    <eventDataSavedTimes>5000</eventDataSavedTimes>
  </saveLocalFile>
  <!--主、备用DSC设置-->
  <dsConfiguration>
    <!--主用DS的Ip地址-->
    <primaryDsIp>192.168.1.222:9995</primaryDsIp>
    <!--备用DS的Ip地址-->
    <standByDsIp>127.0.0.1:9991</standByDsIp>
  </dsConfiguration>
  <!--外挂模块设置-->
  <modelConfiguration>
    <!--是否挂接外接模块(如SNMP等)，ModelType：1-第三方扩展接口动态库，2-简单逻辑动态库-->
	<Model Enable="true" ModelName="VTU_IPC" ModelType="1" SO_Path="SO/libvtu_ipc.so" />
    <Model Enable="true" ModelName="Web Provider" ModelType="1" SO_Path="SO/libwebprovider.so" />
    <Model Enable="true" ModelName="sms_agent" ModelType="1" SO_Path="SO/sms_agent_en.so" />
    <!--Model Enable="True" ModelName="LightCtl" ModelType="2" SO_Path="LightCtl.dll" /-->
  </modelConfiguration>
</configuration>
